
.card {
    background-color: var(--global-card-bg-color);
  
    img {
      width: 100%;
    }
  
    .card-title {
      color: var(--global-text-color);
        font-size: 1.1rem;
    }
  
    .card-item {
      width: auto;
      margin-bottom: 10px;
      padding: 0;
  
      .row {
        display: flex;
        align-items: center;
      }
    }
  }